<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Objetos</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/estilo.css"/>
</head>
<body>

	<div class="container">
		<a href="/" class="btn btn-lg btn-primary btn-voltar">Voltar</a>
		<div id="listaobjetos">
			<h4>Lista de Objetos</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Objeto</th>
						<th>Categoria</th>
					</tr>
				</thead>
				<tr th:each="obj : ${objs}">
					<td><span th:text="${obj.nome}"></span></td>
					<td><span th:text="${obj.categoria.nome}"></span></td>
					<td><a th:href="@{excluirObj/} + ${obj.id}"
						class="btn btn-danger" role="button">Excluir</a></td>
				</tr>
			</table>
		</div>

		<hr />

		<form action="salvarObj" method="post">
			<div class="form-group">
				<label for="nomeObjeto">Nome Objeto</label> 
				<input type="text" class="form-control" id="nomeObjeto" name="nomeObjeto" placeholder="Nome" required="required"/>
			</div>
			<div class="form-group">
				<label for="nomeCategoria">Categorias</label> <select required="required"
					class="form-control" id="nomeCategoria" name="nomeCategoria">
					<option th:each="cat : ${cats}">
						<span th:text="${cat.nome}"></span>
					</option>
				</select>

			</div>
			<hr />
			<button type="submit" class="btn btn-success">Salvar</button>
		</form>

	</div>

</body>
</html>